/* Base calendar styling */
.rbc-calendar {
  font-family: "Arial", sans-serif;
  color: #333;
}

/* Toolbar styling */
.rbc-toolbar {
  background-color: #265073;
  color: white;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.rbc-toolbar button {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  padding: 5px 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.rbc-toolbar button:hover,
.rbc-toolbar button:active {
  background-color: white;
  color: #265073;
}

/* Event styling */
.rbc-event,
.rbc-background-event {
  z-index: 2;
  padding: 0px !important;
  border: none !important;
  background-color: #265073;
  color: white;
  border-radius: 4px;
  transition: transform 0.2s ease-in-out;
}

.rbc-event:hover {
  transform: scale(1.03);
}

/* Today's date styling */
.rbc-today {
  background-color: #ffeadb;
  color: #265073;
}

/* Active and selected state styling */
.rbc-day-slot .rbc-selected-cell,
.rbc-event:active {
  background-color: darken(#265073, 10%);
}

/* Customizing the time gutter (time column on the left) */
.rbc-time-gutter,
.rbc-time-header-gutter {
  background-color: #f8f8f8;
  color: #265073;
}

/* Customizing the time slots */
.rbc-timeslot-group {
  border-bottom: 1px solid #265073;
}

/* Header styling */
.rbc-header {
  background-color: #265073;
  color: white;
  padding: 5px 0;
  border-radius: 4px;
}
